# Lista de Exercicios - Rubens Fernando Alencar

Os exerc√≠cios valem 30% da nota final.

* **Data Entrega**: 18/08/2016

* **Formato da Entrega**: .ipynb - Clique em File -> Download as -> IPython Notebook (.ipynb)

* **Enviar por email** at√© a data de entrega, onde o assunto do email deve ser: *Exerc√≠cios PosMBA Turma2 - SEU NOME*

O c√°lculo da nota final √© dado por: ```NF = (lista * 0.3) + (prova * 0.7)```

## Exerc√≠cio 1

**(0.5 ponto)** Crie uma fun√ß√£o chamada ```soma_tres_num``` que ir√° receber 3 par√¢metros(sendo o √∫ltimo com valor padr√£o 10) e retorne a soma desses tr√™s valores.

In [1]:
def soma_tres_num(x,y,z=10):
    return x + y + z

Teste para as seguintes situa√ß√µes:

In [2]:
print(soma_tres_num(0, 10))

20

In [3]:
print(soma_tres_num(1,2,3))

6

In [4]:
print(soma_tres_num(10, 10, 0))

20

## Exerc√≠cio 2

**(0.5 ponto)** Crie uma fun√ß√£o ```chamda qtde_caracteres``` que receba um par√¢metro e retorne a quantidade de caracteres. Se o valor recebido pelo par√¢metro n√£o for uma String,  utilizar a fun√ß√£o str() para converter o argumento.

In [5]:
def qtde_caracteres(entrada):
    return len(str(entrada))

Teste as seguintes situa√ß√µes:

In [6]:
print(qtde_caracteres(1234))
print(qtde_caracteres(', -'))
print(qtde_caracteres('python'))
print(qtde_caracteres('fia e big data'))

4
3
6
14

## Exercic√≠o 3

**(1.5 ponto)** Carregue o arquivo chamado funcionarios.txt. Esse arquivo cont√©m nome e o sal√°rio anual de cada funcion√°rio.

    alexandre,42000
    rose,50000
    anderson,30000
    antonio,60000
    maria,120000
    carlos,86000
    cesar,48000
    
Fa√ßa os seguintes exerc√≠cios:

**a)** Crie uma fun√ß√£o chamda ```carregar_dados_dic``` que deve receber um par√¢metro(no caso o arquivo funcionarios.txt) e retorne um dicion√°rio, onde a chave ser√° o nome e o valor ser√° o sal√°rio anual.

In [7]:
def carregar_dados_dic(arquivo):
    # seu c√≥digo aqui
    dici = {}
    with open(arquivo, 'r') as items:
        for item in items:
            itemSplit = item.split(',')
            dici[itemSplit[0]]  = int(itemSplit[1])
    return dici

In [8]:
salarios = carregar_dados_dic('funcionarios.txt')

In [9]:
print(salarios)

{'cesar': 48000, 'carlos': 86000, 'antonio': 60000, 'anderson': 30000, 'alexandre': 42000, 'maria': 120000, 'rose': 50000}

**b)** Crie uma fun√ß√£o chamada ```calcular_salario_mensal``` que ir√° calcular quanto o funcion√°rio ganha por m√™s. Verifique o tipo do campo do valor do dicion√°rio. Utilize a fun√ß√£o ```float()``` para converter o valor.

In [10]:
def calcular_salario_mensal(salario_anual):
    # seu c√≥digo aqui
    try:
        mes = float(salarios[salario_anual]) / 12
    except KeyError:
        mes = 'Este funcionario nao existe'
    return mes

**c)** Por fim, imprima para cada funcion√°rio o nome, sal√°rio anual e mensal no seguinte formato:

    Rose --- R$ 50000 --- R$ 4166.66

Dica: Lembre-se do .format para formatar uma string.
Utilize a fun√ß√£o round para arredondar para 2 casas decimais.

```python
>>> round(7166.67555, 2)
7166.67
```

In [11]:
for people in salarios:
    print('{} --- R$ {} --- R$ {}'.format(people, round(salarios[people],2),round(calcular_salario_mensal(people), 2)))

cesar --- R$ 48000 --- R$ 4000.0
carlos --- R$ 86000 --- R$ 7166.67
antonio --- R$ 60000 --- R$ 5000.0
anderson --- R$ 30000 --- R$ 2500.0
alexandre --- R$ 42000 --- R$ 3500.0
maria --- R$ 120000 --- R$ 10000.0
rose --- R$ 50000 --- R$ 4166.67

## Exerc√≠cio 4

**(1 ponto)** Crie um programa que deve ler as informa√ß√µes do usu√°rio (nome, idade e sal√°rio) atrav√©s da fun√ß√£o ```input```. √â necess√°rio validar as informa√ß√µes com os seguintes crit√©rios:
* O nome deve ter tamanho maior que 3
* A idade deve ser entre 18 e 65
* O sal√°rio deve ser maior que R$ 788

Caso as informa√ß√µes n√£o estejam nos crit√©rios definidos anteriormente, ser√° necess√°rio solicitar ao usu√°rio para digitar novamente. Por fim o programa dever√° imprimir o seguinte texto:

    NOME tem YY anos, recebe R$ SSS e seu nome tem CC caracteres.
    
Onde,

* NOME deve ser substitu√≠do pelo nome digitado.
* YY deve ser a idade
* SSS deve ser substitu√≠do pelo valor do sal√°rio.
* CC deve ser substitu√≠do pela quantidade de caracteres.

Lembre-se de formatar o sal√°rio para duas casas decimais.

In [12]:
#Tratamento do Nome
nome = (input('Digite o Nome: '))
validacao = 0
while (validacao == 0):
    if len(nome) > 3:
        validacao = 1
    else:
        nome = (input('O Nome deve ter mais que 3 d√≠gitos. Digite novamente: '))
        
#Tratamento da idade
yy = (input('Digite a Idade: '))
validacao = 0
while (validacao == 0):
    try:
        newyy = int (yy)
    except:
        newyy = yy

    if type(newyy) == int:
        if 18 < newyy < 65:
            validacao = 1
        else:
            yy = (input('A idade deve ser entre 18 e 65 anos. Digite novamente: '))
    else:
        yy = (input('A idade deve ser de formato inteiro. Digite novamente: '))

#Tratamento do sal√°rio
sss = (input('Digite o Sal√°rio: '))
validacao = 0
while (validacao == 0):
    try:
        newsss = round(float (sss),2)
    except:
        newsss = sss

    if type(newsss) == float:
        if newsss > 788:
            validacao = 1
        else:
            sss = (input('O sal√°rio deve ser maior que R$ 788. Digite novamente: '))
    else:
        sss = (input('O sal√°rio deve ter valor num√©rico. Digite novamente: '))

print ('{} tem {} anos, recebe R$ {} e seu nome tem {} caracteres.'.format(nome,newyy,newsss,len(nome)))

Digite o Nome: Rubens
Digite a Idade: 22
Digite o Sal√°rio: 1500
Rubens tem 22 anos, recebe R$ 1500.0 e seu nome tem 6 caracteres.

## Exercicio 5

**(1.5 ponto)** Crie uma fun√ß√£o que dever√° receber dois par√¢metros, sendo um o arquivo e o outro a quantidade de palavras que aparecem com mais frequ√™ncia. O retorno dever√° ser uma lista, sendo que cada elemento dessa lista, deve ser uma tupla (chave-valor), sendo chave o nome da palavra e o valor a quantidade de vezes que ela apareceu no texto.

Por exemplo,

    palavras_frequentes('texto1.txt', 10) - pesquisa no arquivo texto1.txt as 10 palavras mais frequentes.
    palavras_frequentes('texto2.txt', 5) - pesquisa no arquivo texto2.txt as 5 palavras mais frequentes.
    

**<span style="color:red">Lembre-se de tratar poss√≠veis erros!</span>**


Exemplo de uso e saida:

```python
>>> palavras10mais = palavras_frequentes('texto1.txt', 10)
>>> print(palavras10mais)
[('programas', 662), ('codigos', 661), ('dinheiro', 661), ('fia', 586), ('python', 491), ('data', 434), ('big', 434), ('velocidade', 133), ('Moneyball', 113), ('dados', 95)]
```


Dica: Verifique o funcionamento da fun√ß√£o sorted para ordernar um dicion√°rio com base no valor.

In [13]:
import operator
def palavras_frequentes(arquivo, palavras_freq):
    todasList = [];
    listCount  = {}
    with open(arquivo,'r') as linhas:
        for linha in linhas:
            linha = linha.strip()
            linha = linha.replace('  ',' ') #convert duplicates spaces to one space
            linhaList = linha.split(' ')
            todasList.extend(linhaList)

    for palavra in todasList:
        try:
            if palavra not in listCount:
                listCount[palavra] = 1
            else:
                listCount[palavra] += 1
        except KeyError:
            'N√£o Poss√≠vel'
    listSorted = sorted(listCount.items(), key=lambda x:x[1],reverse=True)
    
    return listSorted[:palavras_freq]

Fa√ßa o teste para as seguintes situa√ß√µes:

In [14]:
palavras_frequentes('texto1.txt', 10)

[('programas', 662),
 ('codigos', 661),
 ('dinheiro', 661),
 ('fia', 586),
 ('python', 491),
 ('big', 434),
 ('data', 434),
 ('velocidade', 133),
 ('Moneyball', 113),
 ('de', 95)]

In [15]:
palavras_frequentes('texto2.txt', 10)

[('dinheiro', 251),
 ('programas', 249),
 ('codigos', 248),
 ('fia', 220),
 ('python', 183),
 ('big', 166),
 ('data', 166),
 ('velocidade', 50),
 ('Moneyball', 45),
 ('de', 38)]

In [16]:
palavras_frequentes('texto1.txt', 5)

[('programas', 662),
 ('codigos', 661),
 ('dinheiro', 661),
 ('fia', 586),
 ('python', 491)]

In [17]:
palavras_frequentes('texto2.txt', 5)

[('dinheiro', 251),
 ('programas', 249),
 ('codigos', 248),
 ('fia', 220),
 ('python', 183)]

In [18]:
palavras_frequentes('texto1.txt', 30)

[('programas', 662),
 ('codigos', 661),
 ('dinheiro', 661),
 ('fia', 586),
 ('python', 491),
 ('big', 434),
 ('data', 434),
 ('velocidade', 133),
 ('Moneyball', 113),
 ('de', 95),
 ('dados', 95),
 ('conjuntos', 95),
 ('nuvem', 94),
 ('carro', 93),
 ('navio', 93),
 ('valor', 76),
 ('variedade', 75),
 ('hadoop', 75),
 ('volume', 19),
 ('', 1)]

## Exerc√≠cio 6

**(2 pontos)** Utilizando o exemplo dado em aula sobre a Streaming API (Desafio 3 da Aula 5), recupere os tweets durante 10 minutos com os seguintes par√¢metros:

    fluxo.filter(track=['Big Data', 'Hadoop', 'Spark', 'Python', 'Data Science'], languages=['en', 'pt'])
    
Salve os tweets em um arquivo chamado ```tweets_10min.json```.

**Importe os m√≥dulos necess√°rios**

In [19]:
import tweepy
from time import time

**Crie as chaves de acesso**

In [20]:
consumer_key = 'M6OkpsVkxMo1m4oEpcKrxTG9L'
consumer_secret = 'huUxJYdPoddEkvRrmDOFQIuHspkBERTCshx2J5tcj7FeAFdgNp'
access_token = '13101632-jfzgS37obVEw5vEQhkg3iHuMSgZFwAnLz55OZcVyi'
access_token_secret = 'CeoEHGH6fzrFH1PbXxSwCvmL04rD6nQElJzKgMnAj9AY9'

**Realize a autoriza√ß√£o e defina a token de acesso**

In [21]:
autorizar = tweepy.OAuthHandler(consumer_key,consumer_secret)
autorizar.set_access_token(access_token,access_token_secret)

**Crie a classe ```DadosPublicosTwitter``` herdando da classe tweepy.StreamListener para rodar durante 10 minutos e salvar os tweets no arquivo.**

In [22]:
class DadosPublicosTwitter(tweepy.StreamListener):
    def __init__(self,nomeArquivo,tempoLimiteMinutos):
        self.tempoInicial = time()
        self.tempoLimite = tempoLimiteMinutos * 60
        self.salvarArquivo = open(nomeArquivo,'a',newline='')
    
    def on_data(self,dados):
        if (time() - self.tempoInicial < self.tempoLimite):
            self.salvarArquivo.write(dados)
            return True
        else:
            self.salvarArquivo.close()
            print('Stream finalizado')
            return False

**Crie a inst√¢ncia da classe, o fluxo e realize a filtragem com os par√¢metros definidos no enunciado.**

In [107]:
nomeArquivo = 'tweets_10min.json'
dadosTwitter = DadosPublicosTwitter(nomeArquivo,10)

fluxo = tweepy.Stream(autorizar,dadosTwitter)

fluxo.filter(track=['Big Data', 'Hadoop', 'Spark', 'Python', 'Data Science'], languages=['en', 'pt'])

Stream finalizado

## Exerc√≠cio 7

**(3 pontos)** Com os dados salvos no **tweets_10min.json**, crie um DataFrame pandas com as seguintes colunas:

* ```text``` - Texto do Tweet
* ```created_at``` - Data da cria√ß√£o do Tweet
* ```coordinates``` - Coordenadas
* ```retweet_count``` - Quantidade de vezes que o tweet foi "retweetado".
* ```favorite_count``` - Quantidade de vezes que o tweet foi "favoritado".

* ```screen_name``` - Nome na tela (exemplo: @prof_dinomagri)
* ```location``` - Localiza√ß√£o
* ```lang - Idioma```
* ```followers_count``` - Quantidade de seguidores
* ```geo_enabled``` - Se tem a geolocaliza√ß√£o habilitade
* ```statuses_count``` - Quantidade de tweets postados.

* ```lat``` - Recuperada atrav√©s da fun√ß√£o desenvolvida em sala
* ```long``` - Recuperada atrav√©s da fun√ß√£o desenvolvida em sala
* ```hashtags``` - Recuperada atrav√©s da fun√ß√£o desenvolvida em sala

Lembre-se de utilizar as fun√ß√µes desenvolvidas em sala de aula para recuperar a latitude, longitude e hastags.

No final salve o arquivo no formato CSV, utilizando o separador ponto e virgula (;) e com a codifica√ß√£o 'utf-8'.

**Importe os m√≥dulos necess√°rios**

In [23]:
import pandas as pd
import simplejson as json

**Utilize o comando with para abrir o arquivo 'tweets_10min.json' e salvar em uma lista**

In [24]:
listTweets = []
with open ('tweets_10min.json','r') as arquivo:
    for linha in arquivo:
        listTweets.append(json.loads(linha))

**Crie o DataFrame com os dados e imprima apenas os 3 primeiros tweets (linhas)**

In [25]:
df = pd.DataFrame(listTweets)
df.head(3)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,None,None,Wed Aug 17 13:36:40 +0000 2016,"{'hashtags': [], 'urls': [{'indices': [51, 74]...",NaN,0,False,low,None,765905185994633216,...,NaN,NaN,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Data Analytics In Insurance | Articles | Big D...,1471441000828,False,"{'geo_enabled': False, 'verified': False, 'pro..."
1,None,None,Wed Aug 17 13:36:44 +0000 2016,"{'hashtags': [], 'urls': [{'indices': [117, 14...",NaN,0,False,low,None,765905200007688192,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...","Monty Python proclaimed, ""Nobody expects the S...",1471441004169,False,"{'geo_enabled': False, 'verified': False, 'pro..."
2,None,None,Wed Aug 17 13:36:45 +0000 2016,"{'hashtags': [], 'urls': [{'indices': [28, 51]...",NaN,0,False,low,None,765905206517305344,...,7.659045e+17,765904477471858689,0,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",You're wasting your data üòÇüòÇ https://t.co/MnD90...,1471441005721,False,"{'geo_enabled': True, 'verified': False, 'prof..."

**Crie uma lista, onde cada elemento ser√° o nome da coluna**

In [26]:
colunas = ['text', 'created_at', 'coordinates', 'retweet_count', 
           'favorite_count', 'screen_name', 'location', 'lang', 
           'followers_count', 'geo_enabled', 'statuses_count',
          'lat', 'long', 'hashtags']

** Crie um DataFrame auxiliar passando as colunas por par√¢metro**

In [27]:
df_aux = pd.DataFrame(columns=colunas)

**Crie a fun√ß√£o de pegar_lat_long(local)**

In [28]:
from geopy.geocoders import Nominatim
def pegar_lat_long(local):
    geoLocalizador = Nominatim()
    try:
        localizacao = geoLocalizador.geocode(local)
        return (localizacao.latitude,localizacao.longitude)
#         return localizacao
    except:
        return 0

**Crie a fun√ß√£o para salvar_hashtags(texto)**

In [29]:
def salvar_hashtags(texto):
    hashtags = []
    for palavra in texto.split():
        if palavra.startswith('#'):
            hashtags.append(palavra)
    strHashtags = ' '.join(hashtags)
    return strHashtags

**Certifique-se que o DataFrame auxiliar tem as 14 colunas necess√°rias**

In [30]:
len(df_aux.columns)

14

**Por fim crie o la√ßo que ir√° iterar em cada elemento do DataFrame original e salvar apenas o que queremos no DataFrame auxiliar.**

Lembre-se de como queremos a latitude e longitude a localiza√ß√£o tem que ser diferente de ```None```.

In [57]:
for i in range(0, len(df)):
    if df.user[i]['location'] != None:
        latLong  = pegar_lat_long(df.user[i]['location'])
        print(df.user[i]['location'],latLong)
        if latLong != 0:
            tweet = [
                df.text[i],
                df.created_at[i],
                df.coordinates[i],
                df.retweet_count[i],
                df.favorite_count[i],
                df.user[i]['screen_name'],
                df.user[i]['location'],
                df.user[i]['lang'],
                df.user[i]['followers_count'],
                df.user[i]['geo_enabled'],
                df.user[i]['statuses_count'],
                latLong[0],
                latLong[1],
                salvar_hashtags(df.text[i]),
            ]
            series = pd.Series(tweet, index=colunas)
            df_aux = df_aux.append(series, ignore_index=True)

Abuja, Nigeria (9.0643305, 7.4892974)
["You're wasting your data üòÇüòÇ https://t.co/MnD90iiZSl", 'Wed Aug 17 13:36:45 +0000 2016', None, 0, 0, 'Boss_Haruna', 'Abuja, Nigeria', 'en', 301, True, 9286, 9.0643305, 7.4892974, '']
Birmingham, Alabama, USA (33.5206824, -86.8024325)
["RT @ellisonbg: An incredible collection of Jupyter notebooks-new O'Reilly book by @jakevdp , Data Science Handbook https://t.co/63Ma7xunKn", 'Wed Aug 17 13:36:46 +0000 2016', None, 0, 0, 'timelyportfolio', 'Birmingham, Alabama, USA', 'en', 2206, False, 19551, 33.5206824, -86.8024325, '']
Rhode Island (41.7962409, -71.5992371)
["RT @craigbrownphd: Amazon Kinesis Analytics and the road to Big Data's killer app: Kinesis Analytics makes i... https://t.co/WOUHY8eXS9 #Bi‚Ä¶", 'Wed Aug 17 13:36:47 +0000 2016', None, 0, 0, 'sdenfr4shhh', 'Rhode Island', 'en', 45, True, 3620, 41.7962409, -71.5992371, '#Bi‚Ä¶']
home (51.8253788, 9.0184079)
["RT @P0lS0NlVY: he used her MI's to manipulate her and then threw her into acid and in the movie he tortured her to become harley https://t.‚Ä¶", 'Wed Aug 17 13:36:48 +0000 2016', None, 0, 0, 'E_mily1998', 'home', 'en', 233, True, 4544, 51.8253788, 9.0184079, '']
emmnltsn 0
Pennsylvania, USA (40.9699889, -77.727883)
["@Bibobll @JubyPhonic_P We're both valor but Spark is love, Spark is life. https://t.co/yhQJQQJ3h8", 'Wed Aug 17 13:36:49 +0000 2016', None, 0, 0, 'Gergory001', 'Pennsylvania, USA', 'en', 1, False, 45, 40.9699889, -77.727883, '']
Oxford, UK (51.752225, -1.2583027)
['Work smarter to get the best return on data analytics: \nhttps://t.co/fQe26Fc2jY', 'Wed Aug 17 13:36:51 +0000 2016', None, 0, 0, 'DataSalon', 'Oxford, UK', 'en', 1635, False, 950, 51.752225, -1.2583027, '']
San Francisco, CA (37.7792808, -122.4192362)
['Sentia_UK: 1ClickCassandraCluster for Your Big Data Center Cloud - https://t.co/HzceuBEDq6 The Absorbent Mind: https://t.co/iknHvitZbM', 'Wed Aug 17 13:37:00 +0000 2016', None, 0, 0, 'CloudataNow', 'San Francisco, CA', 'en', 880, False, 2066870, 37.7792808, -122.4192362, '']
London, England (51.5073219, -0.1276473)
['No #datascience, no problem! Learn to ask big questions with data (even if you stink at math)‚Äî smart like how https://t.co/GFhzzC3fST', 'Wed Aug 17 13:37:01 +0000 2016', None, 0, 0, 'ReverseHeadhunt', 'London, England', 'en', 6664, False, 2553, 51.5073219, -0.1276473, '#datascience,']
Connecticut, USA (41.6500201, -72.7342162)
['RT @dailycampuslife: Brb planning next years summer vacation https://t.co/02jg6J1SIp', 'Wed Aug 17 13:37:02 +0000 2016', None, 0, 0, 'theangiederosa', 'Connecticut, USA', 'en', 157, True, 1974, 41.6500201, -72.7342162, '']
‚ì°‚ì®‚ìõ‚ìî ‚ùÅ ‚ìú‚ìí‚ì°‚ìò‚ì¢ 0
Boston, NYC, SF, Austin 0
Torres Vedras Portugal (39.0925372, -9.2598536)
['Entities move data from tables to knowledge\n\n#OReilly #Data #Science https://t.co/PWHQjuVL9v', 'Wed Aug 17 13:37:10 +0000 2016', None, 0, 0, 'EdgarTwit1', 'Torres Vedras Portugal', 'en', 609, False, 64984, 39.0925372, -9.2598536, '#OReilly #Data #Science']
Canton, MO (40.7989522, -81.3784444)
["RT @craigbrownphd: Amazon Kinesis Analytics and the road to Big Data's killer app: Kinesis Analytics makes i... https://t.co/WOUHY8eXS9 #Bi‚Ä¶", 'Wed Aug 17 13:37:11 +0000 2016', None, 0, 0, 'URTheTlgersRoar', 'Canton, MO', 'en', 333, True, 4022, 40.7989522, -81.3784444, '#Bi‚Ä¶']
Webster NY (43.2122851, -77.4299938)
['RT @cxdig: The Hidden Danger of Big Data by @SenseableCity @DirkHelbing https://t.co/11OcJVALt1 https://t.co/8MSScdC9Ux', 'Wed Aug 17 13:37:11 +0000 2016', None, 0, 0, 'MsFluffPawz', 'Webster NY', 'en', 234, False, 2314, 43.2122851, -77.4299938, '']
Dublin, Irlande (53.3497645, -6.2602731)
['RT @CRMTopNews: Making Big Data Drive Digital Transformation ‚Äì As Disru... https://t.co/nohehC6tFW via @Greyhound_R https://t.co/QLqDzQ0tzL', 'Wed Aug 17 13:37:16 +0000 2016', None, 0, 0, 'BenjaminMarcon', 'Dublin, Irlande', 'fr', 508, False, 22562, 53.3497645, -6.2602731, '']
Natsu... (48.204168, 16.3467727)
['RT @randal_olson: https://t.co/ye1XaaENfz : a #Python tool to download and manage TV shows. #entertainment https://t.co/bAwVaAR9vQ', 'Wed Aug 17 13:37:16 +0000 2016', None, 0, 0, 'FenrirJP', 'Natsu...', 'en', 3062, False, 5914, 48.204168, 16.3467727, '#Python #entertainment']
mcr (51.7506898, -1.25311198253273)
['RT @BestMovieLine: Monty Python and the Holy Grail https://t.co/wHZ2kHAzy5', 'Wed Aug 17 13:37:22 +0000 2016', None, 0, 0, 'griffwilliams_', 'mcr', 'en', 256, False, 5525, 51.7506898, -1.25311198253273, '']
Shreveport, LA (32.4828485, -93.8284831615932)
["RT @MichelleVito: you show me love never apart, you're always there for me i'm alright. you are the spark üé∂ #LSS\n@lizasoberano üòçüòç https://t‚Ä¶", 'Wed Aug 17 13:37:24 +0000 2016', None, 0, 0, 'lovelyluv09', 'Shreveport, LA', 'en', 489, True, 75701, 32.4828485, -93.8284831615932, '#LSS']
somewhere out there  0
CN (35.000074, 104.999927)
['#Why does my nested loop throw an exception in Python?\n#Tech #News #HowTo\nhttps://t.co/yzfQq1vEyF', 'Wed Aug 17 13:37:27 +0000 2016', None, 0, 0, 'AdamSmitht1', 'CN', 'en', 1410, False, 468436, 35.000074, 104.999927, '#Why #Tech #News #HowTo']
Chicago (41.8755546, -87.6244211)
["RT @craigbrownphd: Amazon Kinesis Analytics and the road to Big Data's killer app: Kinesis Analytics makes i... https://t.co/WOUHY8eXS9 #Bi‚Ä¶", 'Wed Aug 17 13:37:34 +0000 2016', None, 0, 0, 'j0nkavanaugh', 'Chicago', 'en', 48, True, 3571, 41.8755546, -87.6244211, '#Bi‚Ä¶']
Beverly Hills, CA (34.0736204, -118.4003562)
['@QNAP_nas debuts double server TDS-16489U featuring dual @Intel #Xeon E5 #CPU for #bigdata computing @AnnaRibeiro9 https://t.co/hXZTgXxBPj', 'Wed Aug 17 13:37:34 +0000 2016', None, 0, 0, 'IoTInnovator', 'Beverly Hills, CA', 'en', 45, False, 208, 34.0736204, -118.4003562, '#Xeon #CPU #bigdata']
Atimonan, Calabarzon (13.9968413, 121.9292345)
["RT @MichelleVito: you show me love never apart, you're always there for me i'm alright. you are the spark üé∂ #LSS\n@lizasoberano üòçüòç https://t‚Ä¶", 'Wed Aug 17 13:37:35 +0000 2016', None, 0, 0, 'jaypenpen', 'Atimonan, Calabarzon', 'en', 7, False, 81, 13.9968413, 121.9292345, '#LSS']
Deutschland (51.0834196, 10.4234469)
['#Sr Software Engineer Java/Python/Javascript Fullstack #jobs #career #: #NJ-South Brunswick, This company run... https://t.co/Y7nThrUCI7', 'Wed Aug 17 13:37:35 +0000 2016', None, 0, 0, 'jobnec', 'Deutschland', 'de', 1555, False, 93409, 51.0834196, 10.4234469, '#Sr #jobs #career #: #NJ-South']
Angono,Rizal (14.5253956, 121.1534448)
['You are the spark.', 'Wed Aug 17 13:37:42 +0000 2016', None, 0, 0, 'aaaroonvargas', 'Angono,Rizal', 'en', 220, True, 1917, 14.5253956, 121.1534448, '']
Orlando, FL (28.5421175, -81.3790461)
['RT @Dory: It\'s always Florida. Always.  RT ‚Äù@SeriousStrange: A 17ft python pregnant with 87 eggs was caught in Florida." https://t.co/pXJfj‚Ä¶', 'Wed Aug 17 13:37:44 +0000 2016', None, 0, 0, 'LaurenKeller_', 'Orlando, FL', 'en', 927, True, 38676, 28.5421175, -81.3790461, '']
San Francisco, CA (37.7792808, -122.4192362)
['yadakansei0228: HyperScale HyperConvergence Big Data Cloud Advanced Training - https://t.co/EVzY9GXwa2 Can I Help?: https://t.co/uv043HELe6', 'Wed Aug 17 13:37:54 +0000 2016', None, 0, 0, 'CloudataNow', 'San Francisco, CA', 'en', 880, False, 2066874, 37.7792808, -122.4192362, '']
GREAT BRITAIN  (54.31536155, -1.91802339480124)
['#Ukip üá¨üáß\n\nJean-Claude Juncker warned he could spark European CIVIL WAR with arrogant Brexit stance https://t.co/aKHFZviimU', 'Wed Aug 17 13:37:54 +0000 2016', None, 0, 0, 'Fight4UK', 'GREAT BRITAIN ', 'en', 15440, False, 195780, 54.31536155, -1.91802339480124, '#Ukip']
Florida, USA (27.7567667, -81.4639834)
['RT @Dory: It\'s always Florida. Always.  RT ‚Äù@SeriousStrange: A 17ft python pregnant with 87 eggs was caught in Florida." https://t.co/pXJfj‚Ä¶', 'Wed Aug 17 13:37:55 +0000 2016', None, 0, 0, 'jazlynnivette', 'Florida, USA', 'en', 162, False, 1732, 27.7567667, -81.4639834, '']
Kuala Perlis, Perlis (6.400695, 100.136108)
['RT @SecurityTube: #Python for Hackers &amp; Pentesters, https://t.co/CxZwWl3fPy Join professionals from 90+ countries! Grab Your Seat Now! http‚Ä¶', 'Wed Aug 17 13:37:55 +0000 2016', None, 0, 0, 'AqilahArffin', 'Kuala Perlis, Perlis', 'en', 639, True, 4984, 6.400695, 100.136108, '#Python']
Swindon, England (51.5613683, -1.7856852)
['SanDisk Big Data and Flash: Why Is This the Future? [Video] | 7wData https://t.co/m4o3l7gODF', 'Wed Aug 17 13:38:01 +0000 2016', None, 0, 0, 'PhilMarshman', 'Swindon, England', 'en', 2517, True, 425, 51.5613683, -1.7856852, '']
San Francisco, CA (37.7792808, -122.4192362)
['1llan: 1ClickCassandraCluster for Your Big Data Center Cloud - https://t.co/HzceuBEDq6 Pro Puppet: https://t.co/SbOmyhPREc', 'Wed Aug 17 13:38:01 +0000 2016', None, 0, 0, 'CloudataNow', 'San Francisco, CA', 'en', 880, False, 2066876, 37.7792808, -122.4192362, '']
Croissy sur Seine (48.8792031, 2.1325772)
['Big data and robotics: A long history together &gt;https://t.co/FCC0iRS9jJ&lt; #analytics #BigData #robotics @ZDNet https://t.co/OsKJeyqCJb', 'Wed Aug 17 13:38:02 +0000 2016', None, 0, 0, 'MTI_France', 'Croissy sur Seine', 'fr', 631, True, 2215, 48.8792031, 2.1325772, '#analytics #BigData #robotics']
Huddersfield, England (53.6467031, -1.7832076)
['#thoughtposition #sculpture\na spark between\nover and over again\nbegan to corrode', 'Wed Aug 17 13:38:15 +0000 2016', None, 0, 0, 'thoughtposition', 'Huddersfield, England', 'en', 34, False, 7417, 53.6467031, -1.7832076, '#thoughtposition #sculpture']
San Francisco, CA (37.7792808, -122.4192362)
['lws_101: 1ClickSparkCluster for Your Big Data Center Cloud - https://t.co/Xt9pA8vyao Big Data poder los datos: https://t.co/862zIwgbhd', 'Wed Aug 17 13:38:19 +0000 2016', None, 0, 0, 'CloudataNow', 'San Francisco, CA', 'en', 880, False, 2066877, 37.7792808, -122.4192362, '']
Elmhurst, IL (41.8994745, -87.9403417)
['RT @BestMovieLine: Monty Python and the Holy Grail https://t.co/wHZ2kHAzy5', 'Wed Aug 17 13:38:20 +0000 2016', None, 0, 0, 'JacobAlley12', 'Elmhurst, IL', 'en', 349, False, 1676, 41.8994745, -87.9403417, '']
Dimples ni Liza 0
MNL Phil 0
Argentina 0
New Delhi, India 0
Denver, CO (39.7391536, -104.9847033)
["RT @OReillyMedia: Get beyond the basics of Python with @redsymbol 's 2-day hands-on, in-depth Python training Aug 23-24 https://t.co/rpcos0‚Ä¶", 'Wed Aug 17 13:38:29 +0000 2016', None, 0, 0, 'MikeHerman', 'Denver, CO', 'en', 802, True, 8114, 39.7391536, -104.9847033, '']
University of Rhode Island (41.8295635, -71.4162769)
["Staying w a nigga for the night for a spark up lmaoooooo bitch please don't get me staaaaarted", 'Wed Aug 17 13:38:37 +0000 2016', None, 0, 0, 'kbellexx', 'University of Rhode Island', 'en', 9689, True, 60015, 41.8295635, -71.4162769, '']
Boston area (14.5879878, 120.9677966)
['#Psychosocial #BigData = better patient care/outcomes @MandiBPro @ProfAmyE @keenzai https://t.co/1ImD2zNXmA #hcldr #hit #healthcare #nih', 'Wed Aug 17 13:38:39 +0000 2016', None, 0, 0, 'mbschoening', 'Boston area', 'en', 221, True, 683, 14.5879878, 120.9677966, '#Psychosocial #BigData #hcldr #hit #healthcare #nih']
Valparaiso, Chile (-33.0462474, -71.6198031)
['RT @BestMovieLine: Monty Python and the Holy Grail https://t.co/wHZ2kHAzy5', 'Wed Aug 17 13:38:41 +0000 2016', None, 0, 0, 'TheNickRamirez', 'Valparaiso, Chile', 'es', 569, False, 9973, -33.0462474, -71.6198031, '']
San Francisco, CA (37.7792808, -122.4192362)
['idhstg: 1ClickSparkCluster for Your Big Data Center Cloud - https://t.co/Xt9pA8vyao Global Marketing Kate Gillespie: https://t.co/EW3O6aTXJE', 'Wed Aug 17 13:38:45 +0000 2016', None, 0, 0, 'CloudataNow', 'San Francisco, CA', 'en', 880, False, 2066879, 37.7792808, -122.4192362, '']
Oregon, USA (43.9792797, -120.7372569)
['especially when you are buying BIG DATA?', 'Wed Aug 17 13:38:46 +0000 2016', None, 0, 0, 'ficoshutdown181', 'Oregon, USA', 'en', 1545, False, 24460, 43.9792797, -120.7372569, '']
S√£o Paulo, Brasil (-23.5506506, -46.6333823)
['This "hack" should be turned in to an official #python PEP, so useful (even hacky) https://t.co/GuWFCdRJ73', 'Wed Aug 17 13:38:47 +0000 2016', None, 0, 0, 'rochacbruno', 'S√£o Paulo, Brasil', 'pt', 2580, True, 24503, -23.5506506, -46.6333823, '#python']
‚àû –ùœÉœÅ—î—ïŒ±Œ∑D—è—îŒ±–ºs‚àû 0
San Francisco, CA (37.7792808, -122.4192362)
['cabhijeet: 1ClickKafkaCluster for Your Big Data Center Cloud - https://t.co/nw2oSUiyRB Start-up Entrepreneur: 2: https://t.co/BWQvuu1iBw', 'Wed Aug 17 13:38:52 +0000 2016', None, 0, 0, 'CloudataNow', 'San Francisco, CA', 'en', 880, False, 2066880, 37.7792808, -122.4192362, '']
instagram: ashleyhollins 0
Saint Simons Island, GA (31.2182863, -81.3612076)
['This #job might be a great fit for you: Software Engineer-Hadoop-ETL - https://t.co/8S5e2eD2A1 #IT #Newton, MA https://t.co/7RF1JUGknt', 'Wed Aug 17 13:38:57 +0000 2016', {'type': 'Point', 'coordinates': [-70.963869, 42.267327]}, 0, 0, 'FTGiGSJobs', 'Saint Simons Island, GA', 'en', 1167, True, 8687, 31.2182863, -81.3612076, '#job #IT #Newton,']
France (46.603354, 1.8883335)
['Why Athletes are using Big Data and Analytics to win Olympic Games? #BigData #Rio2016 https://t.co/hG7OGQAs2f', 'Wed Aug 17 13:39:00 +0000 2016', None, 0, 0, 'CharleneMaoFR', 'France', 'en', 37, False, 112, 46.603354, 1.8883335, '#BigData #Rio2016']
Bangalore, India (12.9791198, 77.5912997)
['@QNAP_nas debuts double server TDS-16489U featuring dual @Intel #Xeon E5 #CPU for #bigdata computing #datacenter https://t.co/j07HdOEeJ7', 'Wed Aug 17 13:39:03 +0000 2016', None, 0, 0, 'AnnaRibeiro9', 'Bangalore, India', 'en', 501, False, 10308, 12.9791198, 77.5912997, '#Xeon #CPU #bigdata #datacenter']
London, England (51.5073219, -0.1276473)
['RT @HeathWallace: Five interesting ways tech is being used in sports https://t.co/suFSqAVY7B via @techworldnews', 'Wed Aug 17 13:39:05 +0000 2016', None, 0, 0, 'techworldnews', 'London, England', 'en', 13110, True, 15711, 51.5073219, -0.1276473, '']
Johnston, IA (41.6731523, -93.6973394)
["RT @craigbrownphd: Amazon Kinesis Analytics and the road to Big Data's killer app: Kinesis Analytics makes i... https://t.co/WOUHY8eXS9 #Bi‚Ä¶", 'Wed Aug 17 13:39:06 +0000 2016', None, 0, 0, 'DrewHershey1', 'Johnston, IA', 'en', 252, True, 4141, 41.6731523, -93.6973394, '#Bi‚Ä¶']
UK (54.7023545, -3.2765752)
["RT @TheBeyHiveTeam: And don't come in our mentions trying to spark that old Legion beef. Legion the only 1 keeping ya'll laced with updates‚Ä¶", 'Wed Aug 17 13:39:06 +0000 2016', None, 0, 0, 'BeyonceBrooklyn', 'UK', 'en', 2413, True, 39281, 54.7023545, -3.2765752, '']
Davao City (7.22650725, 125.454887691355)
["RT @MichelleVito: you show me love never apart, you're always there for me i'm alright. you are the spark üé∂ #LSS\n@lizasoberano üòçüòç https://t‚Ä¶", 'Wed Aug 17 13:39:08 +0000 2016', None, 0, 0, 'cardiogirl07', 'Davao City', 'en', 63, False, 14910, 7.22650725, 125.454887691355, '#LSS']
New York City (40.7305991, -73.9865811)
["Check out @govtechnews' article about how government can use big data analytics for the altruistic good of citizens: https://t.co/CeN6Cit4k8", 'Wed Aug 17 13:39:08 +0000 2016', None, 0, 0, 'SeamlessDocs', 'New York City', 'en', 1038, True, 1172, 40.7305991, -73.9865811, '']
Rio de Janeiro (-22.9110136, -43.2093726)
['RT @BestMovieLine: Monty Python and the Holy Grail https://t.co/wHZ2kHAzy5', 'Wed Aug 17 13:39:17 +0000 2016', None, 0, 0, 'vinicaz', 'Rio de Janeiro', 'pt', 177, False, 31355, -22.9110136, -43.2093726, '']
Dubai, UAE (25.22761165, 55.1750774842824)
["RT @MichelleVito: you show me love never apart, you're always there for me i'm alright. you are the spark üé∂ #LSS\n@lizasoberano üòçüòç https://t‚Ä¶", 'Wed Aug 17 13:39:18 +0000 2016', None, 0, 0, 'AileenJannah', 'Dubai, UAE', 'en', 474, False, 14139, 25.22761165, 55.1750774842824, '#LSS']
London, England (51.5073219, -0.1276473)
['How Hotels Are Now Benefiting From Big Data https://t.co/73GCacnBUg', 'Wed Aug 17 13:39:18 +0000 2016', None, 0, 0, 'kortxltd', 'London, England', 'en', 10861, False, 3191, 51.5073219, -0.1276473, '']
The Ignited States of America 0
San Francisco, CA (37.7792808, -122.4192362)
['conosilac: 1ClickKafkaCluster for Your Big Data Center Cloud - https://t.co/nw2oSUA9J9 LG Optimus F3 Virgin Mobile: https://t.co/PF7oTOy5ey', 'Wed Aug 17 13:39:28 +0000 2016', None, 0, 0, 'CloudataNow', 'San Francisco, CA', 'en', 880, False, 2066884, 37.7792808, -122.4192362, '']
Worthington/Columbus (39.99389515, -83.0124866134615)
['1979  Monty Python\'s "Life of Brian" premieres "Always Look On The Bright Side Of Life" Eric Idle  https://t.co/TItYPh5w1A', 'Wed Aug 17 13:39:30 +0000 2016', None, 0, 0, 'KBow5', 'Worthington/Columbus', 'en', 940, False, 48277, 39.99389515, -83.0124866134615, '']
Huntingdon, PA (40.3446332, -78.0281184)
['RT @Pitt_ATHLETICS: #PantherNation...Get a closer look at the #PittRetro uniforms: https://t.co/mQAGZnGUL4 https://t.co/ScocSHNYU2', 'Wed Aug 17 13:39:34 +0000 2016', None, 0, 0, 'FragelloLA', 'Huntingdon, PA', 'en', 573, True, 10574, 40.3446332, -78.0281184, '#PantherNation...Get #PittRetro']
New York City (40.7305991, -73.9865811)
['‚ÄòBig Data‚Äô has quickly become an outdated, catch-all phrase for online marketers #Content https://t.co/hcIEVGkfqC https://t.co/n9UZZipfJx', 'Wed Aug 17 13:39:45 +0000 2016', None, 0, 0, 'Jon_Gelberg', 'New York City', 'en', 1379, True, 2674, 40.7305991, -73.9865811, '#Content']
Winnipeg, MB (49.8833343, -97.166674)
['@reggiewatts @_liooil sf? Spark Fun?', 'Wed Aug 17 13:39:50 +0000 2016', None, 0, 0, '3D_Solutions', 'Winnipeg, MB', 'en', 128, False, 171, 49.8833343, -97.166674, '']
Mountain View, CA (37.3855745, -122.0820499)
['#raspberry #tech #pi - Python ‚Ä¢ Help programming dht11 sensor - https://t.co/BkpZjOvbdT - I am having trouble using my dht11 reading as a ‚Ä¶', 'Wed Aug 17 13:39:54 +0000 2016', None, 0, 0, 'jimoiduts', 'Mountain View, CA', 'en', 2487, False, 5215, 37.3855745, -122.0820499, '#raspberry #tech #pi']
All√≠ donde sol√≠amos gritar 0
Justin followed March 04, 2016 0
London, England (51.5073219, -0.1276473)
['Efficient String Concatenation in #Python\n\n.join() wins ....\n\nhttps://t.co/P9FnZlYvvg', 'Wed Aug 17 13:39:58 +0000 2016', None, 0, 0, 'postenterprise', 'London, England', 'en', 431, False, 4166, 51.5073219, -0.1276473, '#Python']
Tulsa, Oklahoma (U.S.A.) 0
Florida, USA (27.7567667, -81.4639834)
['Lucky me https://t.co/jciBtpn7wS', 'Wed Aug 17 13:40:01 +0000 2016', None, 0, 0, 'isabellajcurtis', 'Florida, USA', 'en', 56, False, 97, 27.7567667, -81.4639834, '']
Australia (-24.7761085, 134.755)
['#python_assignment and submission deadline is  close. Get help from python experts https://t.co/07lrFZ05et', 'Wed Aug 17 13:40:01 +0000 2016', None, 0, 0, 'Essay_Corp', 'Australia', 'en', 914, False, 4439, -24.7761085, 134.755, '#python_assignment']
Houston Texas Area 0
Boracay Island, Philippines (11.9693449, 121.922731243477)
["RT @MichelleVito: you show me love never apart, you're always there for me i'm alright. you are the spark üé∂ #LSS\n@lizasoberano üòçüòç https://t‚Ä¶", 'Wed Aug 17 13:40:08 +0000 2016', None, 0, 0, 'BamosNelsa', 'Boracay Island, Philippines', 'en', 228, False, 14650, 11.9693449, 121.922731243477, '#LSS']
Virtual World (15.591717, 73.810089)
['#science Nearly two decades of data reinforce concerns that pesticides are really bad for bees ‚Äì‚Ä¶ https://t.co/BgiXNXg4D2 #maths #tech', 'Wed Aug 17 13:40:09 +0000 2016', None, 0, 0, 'librarynext', 'Virtual World', 'en', 780, False, 84437, 15.591717, 73.810089, '#science #maths #tech']
Central Region, Singapore (1.28584945, 103.806995929441)
["RT @ULTIMATE_LQFANB: I made a cover of SPARK. Hope it's not too offensive to the ears üôàüòÅ\n\nArt by @mspainteilyn ‚úè\n\n@lizasoberano üíô https://t‚Ä¶", 'Wed Aug 17 13:40:10 +0000 2016', None, 0, 0, 'hunnycrise', 'Central Region, Singapore', 'en', 183, True, 101125, 1.28584945, 103.806995929441, '']
reg's (41.779955, 0.8342466)

**Imprima o tamanho da DataFrame original e do auxiliar**

In [31]:
total_df = len(df)
total_aux = len(df_aux)

print('Dataframe orginal:', total_df)
print('Dataframe auxiliar:', total_aux)

Dataframe orginal: 442
Dataframe auxiliar: 0

### Responda:

1) Qual foi a porcentagem de Tweets descartados?

In [32]:
perc = total_aux * 100 / total_df
print('O percentual de tweets descartados foi de {}%'.format(round(perc,2)))

O percentual de tweets descartados foi de 0.0%

2) Qual a porcentagem de tweets que tinham habilitado o geo_enabled?

In [33]:
totalGeoEnabled = 0
for i in range (1, len(df)):
    if (df.user[i]['geo_enabled'] == True):
        totalGeoEnabled += 1
percGeo = totalGeoEnabled * 100 / total_df
print('{}% dos tweets totais tinham o habilitado o geo_enabled'.format(round(percGeo,2)))

39.14% dos tweets totais tinham o habilitado o geo_enabled

### Salve os dados em arquivos em arquivo CSV

In [72]:
df_aux.to_csv('tweets_lat-long.csv',sep=';',index=False)